<template name="livechatUnymira">
    <iframe id="livechat-iframe" src="/livechat" style="height:100%;width:100%;z-index:9999;border:none; background: transparent;" ></iframe>
    <script>
        $('#livechat-iframe').on('load', function(){
            var $head = $("#livechat-iframe").contents().find("head");
            var $body = $("#livechat-iframe").contents().find("body");
            var style = `
                <style> 
                    .header:before {
                        content: 'Welcome message to you';
                        position: absolute;
                        margin-top: 70px;
                        padding: 0px 15px;
                    }
                    .header {
                        background-color: #31e17f !important;
                    }
                </style>
            `;
            $head.append($(style));


            var $script = `
                $(function(){
                    console.log(window);
                });
            `;
            var myscript = document.createElement('script');
            myscript.type = 'text/javascript';
            myscript.innerHTML = $script;
            $body.append(myscript);

        });
    </script>
</template>