
.kc-theme .sidebar__footer img {
    display: none;
}
.kc-theme .sidebar {
    background: aliceblue !important;
    border-right: 1px solid #ddd;
}
.kc-theme .sidebar__footer a {
    background-image: url('logo.png');
    width: 200px;
    height:50px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
.kc-theme .rooms-list{
    /* background: aliceblue; */
}

.livechat-iframe .title {
    background-color: blue;
}